@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --lightgreen: #fbfff1;
  font-family: 'Roboto Condensed';
}

body {
  background: linear-gradient(135deg, rgb(86, 170, 117) 10%, rgb(14, 92, 173) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  user-select: none;
}


/*Header info */
.header-content {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

/* Login Button */

.contSpot {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* left: 40%; */
  width: 100%
}

.spotifyButton {
  color: white;
  text-decoration: none;
  font-size: 40px;
  border: none;
  background: none;
  font-weight: 900;
  font-family: inherit;
}

.spotifyButton::after,
.spotifyButton::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #00ffcd;
  display: block;
  transition: 0.5s;
}

.spotifyButton:hover::after,
.spotifyButton:hover::before {
  width: 100%;
}


.name {
  text-align: center;
  width: 100%;
  /* margin-top: 2rem; */
  font-size: 3rem;
  color: var(--lightgreen);
}

.name2 {
  text-align: center;
  margin-top: 20rem;
  font-size: 3rem;
  color: var(--lightgreen);
  padding-top: 5%;
}

.container {
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* display: flex;
  align-items: flex-start;
  justify-content: space-evenly; */
  /* Adjust as needed */
  /* margin: 0 auto; */
  /* Center the container horizontally */
}

/* zip code input, designed by uiverse @joe-watson-sbf, yet it was modified */
.input-container {
  /* position: absolute; */
  width: 250px;
  order: 1;
  top: 40%;
  /* left: 50%; */
  /* translate(-130%, 70%); */
  /* margin: 19px -50% 55px 55px; */
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.input-container input[type="text"] {
  font-size: 35px;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom: 2px solid #a5a2a2;
  outline: none;
  width: 99%;
  background-color: transparent;
  /* right: 150%; */
}

.label {
  transition: all 0.3s ease;
  color: #d3d2d2;
  position: relative;
  top: 40px;
  left: 10px;
  pointer-events: none;
  /* margin-bottom: 30px; */
  font-size: 30px;
}



.input-container input:focus~.label,
.input-container input:valid~.label {
  /* position: relative; */
  /* color: rgb(180, 197, 228); */
  left: 10px;
  top: 0px;
  bottom: 20px;
  transition: .3s;
}

.input-container .underline {
  position: relative;
  bottom: 4px;
  height: 2px;
  
  width: 100.5%;
  background-color: rgb(180, 197, 228);
  transform: scaleX(0);
}

.input-container .sideline {
  position: relative;
  bottom: 29px;
  right: 24px;
  /* left: 1px; */
  height: 2px;
  width: 20%;
  background-color: rgb(180, 197, 228);
  transform: scaleX(0);
  rotate: 90deg;
}

.input-container .upperline {
  position: relative;
  bottom: 55px;
  /* top: 50px; */
  height: 2px;
  width: 100.5%;
  background-color: rgb(180, 197, 228);
  transform: scaleX(0);
}

.input-container .line {
  position: relative;
  bottom: 33px;
  left: 227px;
  height: 2px;
  width: 20%;
  background-color: rgb(180, 197, 228);
  transform: scaleX(0);
  rotate: 90deg;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="text"]:focus~.sideline,
.input-container input[type="text"]:valid~.sideline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="text"]:focus~.upperline,
.input-container input[type="text"]:valid~.upperline {
  transform: scaleX(1);
  transition: 1s;
}

.input-container input[type="text"]:focus~.line,
.input-container input[type="text"]:valid~.line {
  transform: scaleX(1);
  transition: 1s;
}


/* This will be spotify button */
.button {
  display: flex;
  background-color: #00DA5A;
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  order: 3;

}

.button svg {
  height: 30px;
}

.button:hover {
  box-shadow: none;
}

/* This is the generate Music button made by nikk700 but modified by Tune Cast*/
.generateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: 150px;
  /* margin-bottom: 50px; */
  padding-top: 3%;
}

.generateMusic {
  --color: white;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .1s;
  font-weight: 400;
  font-size: 40px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.generateMusic::before,
.generateMusic::after {
  content: '';
  display: block;
  width: 50%;
  height: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.generateMusic::before {
  top: -1em;
  left: 50%;
  right: 1em;
}

.generateMusic::after {
  left: calc(50%);
  right: calc(100%);
  top: calc(100% + 1em);
}

.generateMusic:hover::before,
.generateMusic:hover::after {
  height: 500px;
  width: 800px;
}

.generateMusic:hover {
  color: rgb(10, 25, 30);
}

.generateMusic:active {
  filter: brightness(.8);
}

.description {
  color: white;
  font-size: 25px;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  line-height: 50px;
  margin-bottom: 5%;
}

/* Zip and spot basically just fixing everything */
.zipAndSpot {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------- */
svg {
  width: 4rem;
  height: 1.5rem;
  fill: var(--lightgreen);
  margin-left: -1.5rem;
}

footer {
  background-color: #0c305b;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerindex {
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  /* Add left margin as needed */

}

a {
  color: white;
  text-decoration: none;
  /* margin-right: 50px; */
  /* Add left margin as needed */
}

/* .logBut {
  position: absolute;
  left: 50%;
  /* transform: translateX(100%); */
  /* padding-bottom: 8%; */
/* } */

a:hover {
  text-decoration: underline;
}

.bigCard {
  width: 10%;
  height: 157px;
  transform: translateX(150%) translateY(150%);
}

.cardContainer {
  width: fit-content;
  /* Change to absolute */
  top: 60%;
  /* Add this */
  left: 30%;
  /* Add this */
  transform: translate(-50%, -43%);
  /* Add this */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 274px;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
}

.temp {
  font-size: 1.8em;
  color: white;
}

.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.cardContainer::before {
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  left: 100px;
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-50px, 50px);
}

.audio-player {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #282828;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.audio-player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin-left: 20%;
}

.album-cover {
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 12px;
}

.player-controls {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
}

.song-info {
  margin-bottom: 4px;
}

.song-title {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.artist {
  font-size: 12px;
  color: #b3b3b3;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: #1db954;
  transform-origin: left;
  animation: progress-animation 10s linear infinite;
}

.buttons {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btn,
.pause-btn {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btn:hover,
.pause-btn:hover {
  transform: scale(1.2);
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.footer-image {
  width: 80px;
  /* Adjust the width as needed */
  height: 80px;
  /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 50%;
  /* Optional: add border-radius for a circular image */
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  max-width: 100%;
}

/* Spotify Recomendations */

.spotifyRec {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Optional: center items horizontally */
  background: black;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  ;

}

.recHead {
  color: white;
}

.spotLogo {
  max-width: 35px;
  margin-right: 10px;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

iframe {
  max-height: 80px;
  margin-bottom: 10px;
}

.text {
  margin: 30%;
}