@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@100;300;400&family=Ubuntu&display=swap');

:root {
    --lightgreen: #fbfff1;
    --darkgrey: #3c3744;
    --darkblue: #090c9b;
    --blue: #3066be;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: linear-gradient(to bottom, var(--blue), var(--darkblue));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    user-select: none;
}

hr {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--lightgreen);

}

.name {
    text-align: center;
    margin-top: 10rem;
    font-size: 3rem;
    color: var(--lightgreen);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

/* zip code input */
.zip {
    width: 13rem;
    height: 4rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    background-color: var(--lightgreen);
}

svg {
    width: 4rem;
    height: 4rem;
    fill: var(--lightgreen);
    margin-left: 1rem;
}

.search {
    display: flex;
}

.upload {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--lightgreen);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 13rem;
    height: 4rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    /* padding-left: 1.5rem; */
    background-color: var(--lightgreen);
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: inline-flex;
    height: 195px;
    padding: 200px 52px 20px 52px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #3066BE;
    box-shadow: 10px 9px 70px 0px rgba(36, 53, 62, 0.40);
    margin: 0 30px;
}



.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow the boxes to wrap to the next line if needed */
    margin-top: 2rem; /* Adjust the margin as needed */
}
